<!DOCTYPE html>
<html lang="en" style="font-size: 50px;">
<head>
  <title>播放器下载</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="600" />
    <meta name="medium" content="image" />
    <meta name=“viewport” content=“width=device-width, viewport-fit=cover”>
    <link rel="shortcut icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/styles/microvideoshare.css">
</head>
<body data-clipboard-target="#bar2" data-clipboard-action="copy">
  
  {{if showWeixinTip}}
  <div id="weixin-tip"><p><img class="share-img" src="{{renderData.shareBg}}" style="width: 100%;height:100%;object-fit: cover;" alt="微信打开"><img class="share-img" src="/public/images/share/share_guide.png" style="width: 100%;" alt="微信打开"></p></div>
  {{else}}
  <div class="container">
    
    {{if isandroid}} 
     <!-- 安卓版下载页面 -->
      <div class="android_box">
        <div class="imgbox_bg"> 
        </div>
        <div class="and_bottom foot_panel">
          <img src="/public/images/share/icon_w02.png" class="appicon" alt="">
          <div class="and_tip">应用报毒为误报，我们依靠广告盈利并非病毒！</div>
          <div class="and_button androidClick">安全下载</div>
          <div class="save_tip btn_install">
            <div class="red"> 
              安装遇到问题？报毒怎么解决？
            </div>
            <div>下载前必看安装指南</div>
          </div>
        </div>
      </div>

      
    {{else}}
    <!-- IOS版落地页面 -->
    <div class="IOS_box">
      <div class="imgbox_bg"></div>
      <div class="IOS_bottom">
        <img src="/public/images/share/icon_w02.png" class="appicon" alt="">
        <div class="and_tip">应用报毒为误报，我们依靠广告盈利并非病毒！</div>
        <div class="ios_button iosbutton_01" data-value="0">
          <div>iOS流畅版下载</div>
          <div class="small">稳定流畅，功能完整</div>
          <img class="icon" src="/public/images/share/icon01.png" />
        </div>
        <div class="ios_button iosbutton_02" data-value="1">
          <div>iOS轻量版下载</div>
          <div class="small">备用</div>
        </div>
      </div>
    </div>

    <div class="ios_tip">
      <img class="icon" src="/public/images/share/icon02.png" />
    </div>


    <!-- IOS下载页 -->
    <div class="IOSfluent">
        <div class="logotip">
          <div class="backbutton">
            <img loading="lazy" lazyload="true" mode="heightFix" class="icon" src="/public/images/share/backicon_01.png" />
            <div class="text">返回</div>
          </div>
          <div class="logoicon">
            <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png" />
          </div>
          <div class="text">
            微视
          </div>
        </div>
        <div class="list iosDownloads">
          <div class="listli">
            <div class="top">
              第一步
            </div>
            <div class="box">
              <div class="title">首先安装【TestFlight】然后返回本页</div>
              
                <div class="tip01">
                  如已安装直接操作第二步
                </div>

              <a target="_blank" href="https://itunes.apple.com/cn/app/testflight/id899247664?mt=8" class="testflightbutton button" >
                <div class="icon"> 
                  <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w01.png"> 
                </div>
                <div class="text">安装TestFlight</div>
              </a> 
            </div> 
          </div>
          <div class="listli">
            <div class="top">
              第二步
            </div>
            <div class="box">
              <div class="title">点击下载【APP名称】</div>
              <div class="button download" data-value="{{iosdownloadurl}}">
                <div class="icon"> 
                  <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png"> 
                </div>
                <div class="text">点击下载 微视</div>
              </div> 
                <div class="tip02" data-value="{&quot;id&quot;:1,&quot;toptitle&quot;:&quot;第二步&quot;,&quot;title&quot;:&quot;点击下载【APP名称】&quot;,&quot;buttontext&quot;:&quot;点击下载 微视&quot;,&quot;openlink&quot;:&quot;https://ww.baidu.com&quot;}">
                  如遇提示“无法打开链接”查看设置教程&gt;&gt;
                </div>
            </div> 
          </div>
          {{ if iosbackurls.length > 0}}
          <div class="listli">
            <div class="top">
              备用下载
            </div>
            <div class="box">
              <div class="title">备用下载通道</div>
                <div class="tip03">
                  以上方式均无法安装的时候请点击备用下载&gt;&gt;
                </div>
                <div class="buttonThreeBox">
                  {{each iosbackurls}}
                    <div class="button download" data-value="{{$value}}">
                      <div class="icon">
                      <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png"> 
                      </div>
                      <div class="text">备用下载链接{{$index+1}}</div>
                    </div>
                  {{/each}}
                </div>
            </div>
          </div>
          {{/if }}
        </div>
    </div>

    <!-- 落地页设置教程 -->
    <div class="downCourse">
      <img loading="lazy" lazyload="true" mode="heightFix" class="backbg" src="/public/images/share/backbg.png" />
      {{each renderData.course}}
      <img loading="lazy" mode="widthFix" lazyload="true" class="img" src="{{$value.imgurl}}" /> 
      {{/each}}

      <div class="downbutton tip02close">
        返回下载页面
      </div>
    </div>

    <div class="lightweight">
      <div class="toptitle">
        <div class="backicon">
          <img class="img" src="/public/images/share/backicon_02.png" />
        </div>
        轻量版安装教程
      </div>
      <div class="lightBox"> 
        <div class="downbutton" data-value="{{IOSdonwUrl}}">立即下载</div> 
        <img class="img" src="/public/images/share/lightimg.jpg" />
      </div>
    </div>
    {{/if}}
  </div>


  <!-- 安卓安装教程 -->
  <div class="install_container" style="display: none;">
    <!-- <img class="install_bg" src="/public/images/share/microvideo_androidbg.jpg" alt=""> -->
    <div class="install_bg"></div>
    <div class="steps_container">
      <!-- 关闭按钮 -->
      <div class="step_close" style="opacity: 0;">
        <span class="bg-install_close"></span> 
        <span>关闭</span>
      </div>
       <!-- 报毒关闭按钮 -->
       <div class="step_close_two">
        返回下载页面
      </div>
      <!-- 标题文字 -->
      <div class="install_title">
        报毒安装教程
      </div>
      <!-- 教程列表 -->
      <div class="install_app_list">
        {{each renderData.installStep val key}}
          <div class="app_item" data-key="{{key}}">
            <span class="phone_mode">{{key}}</span>
            <div class="install_step_img">
            <div class="step_title ">
              <div class="img_close btn_options_item">
                <span class="bg-install_back"></span>
                <span>返回上一页</span>
              </div>
              <div class="txt_title btn_options_item">
                <span class="bg-install_close_black"></span>
                <span>关闭教程</span>
              </div>
            </div>
            <div class="imgs_steps">
              {{each val img imgindex}}
                <img loading="lazy" class="img_step" src="{{img}}" alt="">
              {{/each}}
            </div>
          </div>
          </div>
        {{/each}}

      </div>
     
    </div>
  </div>

  <!-- 下载提示 -->
  <div id="downloading_tips" class="downloading_tips" style="display: none;">
    <div class="panel">
      <div class="downloading_icon">
        <img src="/public/images/share/loading.png" class="downloading_icon_border" alt="">
        <svg x="0px" y="0px" class="downloading_icon_allow" >
          <g>
            <path id="svg_1" d="m4,0,h8,v10,h4,l-8,10,l-8,-10,h4,v-10" fill-opacity="null"  fill="#546375"/>
           </g>
        </svg>
      </div>
      <span class="downloading_text">{{renderData.download_tips_settings.download_tips}}</span>
    </div>
  </div>
  <!-- 公告 -->
  <div class="notify_container tip_info" style="display: none;">
    <div class="tips_container">
      <div class="bg"></div>
      <span class="bg-down_tips"></span>
      <div class="tips_msg">测试公告</div>
      <div class="btn_close">我知道了</div>
    </div>
  </div>
  {{/if}}
  
  <input id="bar2" style="position: fixed; top: 0;opacity: 0;width: 1px;"></input>
  <input id="codeSign" type="hidden" value="{{vcode}}"/>
   
  <!-- 优先绑定点击下载事件 -->
  <script>
    /***
     * 判断是否微信
     * @returns {boolean}
     */
     function isWeChat() {
      var browser = {
        versions: function() {
            var u = navigator.userAgent,
                app = navigator.appVersion;
            return { //移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
      }
      if (browser.versions.mobile) { //判断是否是移动设备打开。browser代码在下面
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return true;
        }
      }

      return false;
    }

    function loadHtml() {
        var div = document.createElement('div');
        div.id = 'weixin-tip';
        div.innerHTML = '<p><img class="share-img" src="'+ shareBgImg +'" style="width: 100%;" alt="微信打开"/><img class="share-img" src="/public/images/share/share_guide.png" style="width: 100%;" alt="微信打开"/></p>';
        document.body.appendChild(div);
    }
  </script>
  <script>
    (function(doc, win) {
      var docEl = doc.documentElement,
      resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
      recalc = function() {
          var clientWidth = docEl.clientWidth;
          if(!clientWidth) return;
          if(clientWidth >= 750) {
              docEl.style.fontSize = '100px';
          } else {
              docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
      };
      if(!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
      })(document, window);
  </script>
  <script>
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate',  () =>{
      history.pushState(null, null, document.URL);
    });
    try{
      var h5url = "{{h5url}}"; 
      var nodeData = JSON.parse(decodeURIComponent("{{data}}")) ;
      window.downUrls = JSON.parse(decodeURIComponent("{{downUrls}}")) ;   

      var device = {
                isAndroid: -1 < navigator.userAgent.toLowerCase().indexOf("android"),
                isIos: null != navigator.userAgent.match(/(iPod|iPhone|iPad)/),
                isChrome: /chrom(e|ium)/.test(navigator.userAgent.toLowerCase())
              },
              common = {
                qrcodeUrl: (null != document.referrer) ? document.referrer : location.href,
                code: '',
                width: '359',
                getUrlQuery: function (o) {
                  var n = new RegExp("(^|&)" + o + "=([^&]*)(&|$)", "i"),
                          e = window.location.search.substr(1).match(n);
                  return null != e ? unescape(e[2]) : null
                },
                getParms: function () {
                  // common.code = common.getUrlQuery("code") || "";
                  // common.code = common.code.match(/^[A-Za-z0-9]+/)[0];
                  common.code = '{{vcode}}';
                  common.width = document.body.clientWidth;
                },
                init: function () {
                  common.getParms()
                }
              };
      var objApp = {
        addClipboard: function (o, n) {
          var e = 'pushId@' + common.code + "@" + (common.code || '');
          // var e = $('#codeSign').val() || '';
          bar2.value = e;
          if (window.ClipboardJS){
            var i = new ClipboardJS(o, {
              container: document.getElementById(n)
            });
            i.on("success", function (e) {
              config.successCopyShareCode = true;
              setTimeout(function () {
                // FIXME: 暂时提示IOS
                e.clearSelection();
              }, 100);
            }), i.on("error", function (o) {
              console.log("亲，此浏览器不支持，请手动复制粘贴吧");
            });
          }
          
          
          if (!common.code){
            config.successCopyShareCode = true;
          } 
        }
      }

      var config = {
        downloadUrlAndroid: "",
        downloadUrlIos: "",
        h5: "",
        successCopyShareCode: false,
        successGetDownloadUrl: false
      };
      // 获取pushId code参数
      common.init();
      //监听点击事件
      // 
      if (device.isIos){
        // IOS安装教程
        document.querySelector(".iosbutton_01").addEventListener("click", (e) => {
          document.querySelector(".IOSfluent").style = "display: block";
        })

        document.querySelector(".iosbutton_02").addEventListener("click", (e) => {
          document.querySelector(".lightweight").style = "display: block";
        })

        document.querySelector(".list .tip02").addEventListener("click",(e) => {
          document.querySelector(".IOSfluent").style = "display: none";
          document.querySelector(".downCourse").style = "display: block";
        });
        document.querySelector(".lightweight .downbutton").addEventListener("click",(e) => {
          downloadFile(e.currentTarget.dataset.value);
        });

        // IOS返回按钮
        document.querySelector('.backbutton').addEventListener("click",(e)=>{
          document.querySelector(".IOSfluent").style = "display: none";
        })

        //关闭IOS轻量版安装教程
        document.querySelector(".backicon").addEventListener('click',()=>{
          document.querySelector(".lightweight").style = "display: none";
        })

        // ios安装教程关闭
        document.querySelector(".tip02close").addEventListener("click",(e) => {
          document.querySelector(".IOSfluent").style = "display: block";
          document.querySelector(".downCourse").style = "display: none";
        });
        for (const iterator of document.querySelectorAll(".iosDownloads .download")) {
          iterator.addEventListener("click",(e) => {
            if (e.currentTarget.classList.contains("download")){
              var value = e.currentTarget.dataset.value
              if (value){
                downloadFile(value);
              }
            }
          });
        }
        document.querySelector(".ios_tip").addEventListener("click",(e) => { 
          e.currentTarget.style = "display:none";
        })
      }
      
      // 下载 android 
      if (device.isAndroid){
        document.querySelector(".androidClick").addEventListener("click",(e) => {
          let url = window.downUrls.filter(items=>{
            return items.os == 0
          })[0].url
          downloadFile(url);
        });
        // android安装教程
        document.querySelector(".foot_panel .btn_install").addEventListener("click",() => {
          // 固定首页
          //$(".container").addClass("fullSeceen");
          document.querySelector(".container").classList.add("fullSeceen")
          // 显示教程
          document.querySelector(".install_container").style = "display:flex";
          return false;
        })
        // 关闭android教程
        document.querySelector(".step_close_two").addEventListener("click",() => {
          // 固定首页
          document.querySelector(".container").classList.remove("fullSeceen")
          document.querySelector(".install_container").style = "display:none";
        }); 
        // 显示某一个机型的参考图
        for (const iterator of document.querySelectorAll(".install_app_list .app_item")) {
          //
          iterator.querySelector(".phone_mode").addEventListener("click",(e) => {
            if (e.currentTarget.classList.contains("phone_mode")){
              e.currentTarget.parentElement.querySelector(".install_step_img").style = "display: block";
            }
          });
          // 某机型教程中的返回按钮
          iterator.querySelector(".img_close").addEventListener("click",(e) => {
            if (e.currentTarget.classList.contains("img_close")){
              iterator.querySelector(".install_step_img").style = "display: none";
            }
          });
          // 某机型教程中的关闭教程按钮
          iterator.querySelector(".txt_title").addEventListener("click",(e) => {
            if (e.currentTarget.classList.contains("txt_title")){
              iterator.querySelector(".install_step_img").style = "display: none";
              document.querySelector(".step_close_two").click();
            }
          });
        }
      }
      // 显示公告
      var notify = "{{renderData.notifyTips}}";
      if (notify){
        document.querySelector(".notify_container .tips_msg").innerHTML = notify;
        document.querySelector(".notify_container.tip_info").style = "display:flex";
      }
      // 公告关闭
      document.querySelector(".notify_container.tip_info .btn_close").addEventListener("click" , () => {
        document.querySelector(".notify_container.tip_info").style = "display:none";
      })
      
      function downloadFile(src){
        // 复制pushid
        if ( null != common.code && "12345" != common.code) {
          // 复制bar2控件的内容 当用户点击网页时
          objApp.addClipboard(document.body, "bar2");
        }
        // 判断设备
        if (IsPC()){ 
          return;
        }
        if (device.isIos){
          // 如果下载连接为空跳转H5
          if(!src){
            // h5url = "http://app.f6978.cn:88/#/pages/index/index?invitations={code}";
            src =  h5url;
          }else{
            // 如果链接中不包含itms-services 说明配置的是H5链接
            if(-1 == src.indexOf("itms-services")){
              src = src.replace("{code}",'pushId@' + common.code + "@"+common.code)
            }
          }
        }
        // 下载方法二
        var link = document.createElement('a');
        //设置下载的文件名
       
        link.style.display = 'none';
        link.href = src;
        if(device.isIos){
          link.target = "_top";
        }
        //触发点击
        document.body.appendChild(link);
        if(device.isIos){
          window.open(src);
        }else{
          link.click();
        }
        //移除节点
        document.body.removeChild(link);
        // 弹出下载提示
        downloading_tips.style.display = "flex";
        
        // 10秒钟后提示，刷新页面重新下载
        setTimeout(function(){
          document.querySelector(".downloading_text").innerHTML = "{{renderData.download_tips_settings.download_after_tips}}";

          var hideSecond = nodeData.download_tips_settings.download_after_hide_second;
          if (hideSecond > 0){
            setTimeout(function(){
            downloading_tips.style.display = "none";
            },1000 * hideSecond)
          }
          
        },1000 * 10)

        saveDownloadInfo();
      }

      function saveDownloadInfo(){
        var os = device.isIos ? "ios" : "Android";
        // 保存下载信息
        let xhr = new XMLHttpRequest();
        xhr.open('GET', "/down/profile?os=" + os, true);
        xhr.send();
      }
      window.addEventListener('load',function(){ 
        setTimeout(function(){
          if (!IsPC()){
            var os = device.isIos ? "ios" : "Android";
            saveDownloadInfo(os);
          }
        },1000)
      })

      function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone",
          "SymbianOS", "Windows Phone",
          "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
          }
        }
        return flag;
      }
      
    }catch(e){
      console.log(e);
    }
  </script>
  <!--<script src="https://hian.com.cn/clipboard.min.js"></script>-->
  <!-- 如果cdn下载失败 则使用本地clipboard -->
  <script>window.ClipboardJS || document.write('<script src="/public/scripts/clipboard.min.js?v=2.0.4" type="text/javascript"><\/script>')</script>

  <script>
    // 懒加载图片
    var viewHeight = document.documentElement.clientHeight;

    function lazyload() {
        var imgs = document.querySelectorAll('img[data-original][lazyload]');
        imgs.forEach(item => {

          if (item.dataset.original == '') {
              return;
          }
          var rect = item.getBoundingClientRect();
          if (rect.bottom >= 0 && rect.top < viewHeight) {
            var img = new Image();
            img.src = item.dataset.original;
            // console.log(img.src)
            img.onload = function() {
                item.src = img.src;
            }
            item.removeAttribute('data-original');
            item.removeAttribute('lazyload')
          }
        })
    }
    lazyload();
    document.addEventListener('scroll', lazyload)
    
  </script>

  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?512dca596c768b52f2e6071236c0756";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>