<!DOCTYPE html>
<html lang="en" style="font-size: 50px;">
<head>
  <title>播放器下载</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="600" />
    <meta name="medium" content="image" />
    <meta name=“viewport” content=“width=device-width, viewport-fit=cover”>
    <link rel="shortcut icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/styles/microvideoshare.css">
</head>
<body data-clipboard-target="#bar2" data-clipboard-action="copy">
  {{if showWeixinTip}}
  <div id="weixin-tip"><p><img class="share-img" src="{{renderData.shareBg}}" style="width: 100%;height:100%;object-fit: cover;" alt="微信打开"><img class="share-img" src="/public/images/share/share_guide.png" style="width: 100%;" alt="微信打开"></p></div>
  {{else}}
  <div class="container">
     
    {{if isandroid}} 
     <!-- 安卓版下载页面 -->
      <div class="android_box">
        <div class="imgbox_bg"> 
        </div>
        <div class="and_bottom foot_panel">
          <div class="and_tip">应用报毒为误报，我们依靠广告盈利并非病毒！</div>
          <div class="and_button androidClick">安全下载</div>
          <div class="save_tip btn_install">
            <div class="red"> 
              安装遇到问题？报毒怎么解决？
            </div>
            <div>下载前必看安装指南</div>
          </div>
        </div>
      </div>

      
    {{else}}
    <!-- IOS版落地页面 -->
    <div class="IOS_box">
      <div class="imgbox_bg"></div>
      <div class="IOS_bottom">
        <div class="and_tip">应用报毒为误报，我们依靠广告盈利并非病毒！</div>
        <div class="ios_button iosbutton_01" data-value="0">
          <div>iOS流畅版下载</div>
          <div class="small">稳定流畅，功能完整</div>
          <img class="icon" src="/public/images/share/icon01.png" />
        </div>
        <div class="ios_button iosbutton_02" data-value="1">
          <div>iOS轻量版下载</div>
          <div class="small">备用</div>
        </div>
      </div>
    </div>

    <div class="ios_tip">
      <img class="icon" src="/public/images/share/icon02.png" />
    </div>


    <!-- IOS下载页 -->
    <div class="IOSfluent">
        <div class="logotip">
          <div class="logoicon">
            <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png" />
          </div>
          <div class="text">
            微视
          </div>
        </div>

        <div class="list">
          {{each renderData.IOSdownlist}}
          <div class="listli">
            <div class="top">
              {{
                $value.toptitle
              }}
            </div>
            <div class="box">
              <div class="title">{{$value.title}}</div>
              {{if $value.id==0}}
                <div class="tip01">
                  如已安装直接操作第二步
                </div>
              {{/if}}
              {{if $value.id==2}}
                <div class="tip03">
                  以上方式均无法安装的时候请点击备用下载>>
                </div>
              {{/if}} 

               
              {{if $value.id==0}}
              <div class="button" data-value="{{$value}}">
                <div class="icon"> 
                  <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w01.png" /> 
                </div>
                <div class="text">{{$value.buttontext}}</div>
              </div> 
              {{/if}}

              {{if $value.id==1}}
              <div class="button" data-value="{{$value}}">
                <div class="icon"> 
                  <img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png" /> 
                </div>
                <div class="text">{{$value.buttontext}}</div>
              </div> 
              {{/if}}
          
              {{if $value.id==2}}
                <div class="buttonThreeBox">
                   
                </div>
              {{/if}}

              {{if $value.id==1}}
                <div class="tip02" data-value="{{$value}}">
                  如遇提示“无法打开链接”查看设置教程>>
                </div>
              {{/if}}
              
            </div> 
          </div>
          {{/each}}
        </div>
    </div>

    <!-- 落地页设置教程 -->
    <div class="downCourse">
      <img loading="lazy" lazyload="true" mode="heightFix" class="backbg" src="/public/images/share/backbg.png" />
      {{each renderData.course}}
      <img loading="lazy" mode="widthFix" lazyload="true" class="img" src="{{$value.imgurl}}" /> 
      {{/each}}

      <div class="downbutton tip02close">
        返回下载页面
      </div>
    </div>

    <div class="lightweight">
      <div class="toptitle">轻量版安装教程</div>
      <div class="lightBox">
        <div class="downbutton" data-value="{{IOSdonwUrl}}">立即下载</div> 
        <img class="img" src="/public/images/share/lightimg.jpg" />
      </div>
    </div>
    {{/if}}
  </div>


  <!-- 安卓安装教程 -->
  <div class="install_container" style="display: none;">
    <!-- <img class="install_bg" src="/public/images/share/microvideo_androidbg.jpg" alt=""> -->
    <div class="install_bg"></div>
    <div class="steps_container">
      <!-- 关闭按钮 -->
      <div class="step_close" style="opacity: 0;">
        <span class="bg-install_close"></span> 
        <span>关闭</span>
      </div>
       <!-- 报毒关闭按钮 -->
       <div class="step_close_two">
        返回下载页面
      </div>
      <!-- 标题文字 -->
      <div class="install_title">
        报毒安装教程
      </div>
      <!-- 教程列表 -->
      <div class="install_app_list">
        
      </div>
     
    </div>
  </div>

  <!-- 下载提示 -->
  <div id="downloading_tips" class="downloading_tips" style="display: none;">
    <div class="panel">
      <div class="downloading_icon">
        <img src="https://hian.com.cn/photo_2020-11-27.jpg" class="downloading_icon_border" alt="">
        <svg x="0px" y="0px" class="downloading_icon_allow" >
          <g>
            <path id="svg_1" d="m4,0,h8,v10,h4,l-8,10,l-8,-10,h4,v-10" fill-opacity="null"  fill="#546375"/>
           </g>
        </svg>
      </div>
      <span class="downloading_text">{{renderData.download_tips_settings.download_tips}}</span>
    </div>
  </div>
    
  {{/if}}
  

  <input id="bar2" style="position: fixed; top: 0;opacity: 0;width: 1px;"></input>
  <input id="codeSign" type="hidden" value="{{vcode}}"/>
   
  <!-- 优先绑定点击下载事件 -->
  <script>
    /***
     * 判断是否微信
     * @returns {boolean}
     */
     function isWeChat() {
      var browser = {
        versions: function() {
            var u = navigator.userAgent,
                app = navigator.appVersion;
            return { //移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
      }
      if (browser.versions.mobile) { //判断是否是移动设备打开。browser代码在下面
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return true;
        }
      }

      return false;
    }

    function loadHtml() {
        var div = document.createElement('div');
        div.id = 'weixin-tip';
        div.innerHTML = '<p><img class="share-img" src="'+ shareBgImg +'" style="width: 100%;" alt="微信打开"/><img class="share-img" src="/public/images/share/share_guide.png" style="width: 100%;" alt="微信打开"/></p>';
        document.body.appendChild(div);
    }
  </script>
  <script>
    (function(doc, win) {
      var docEl = doc.documentElement,
      resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
      recalc = function() {
          var clientWidth = docEl.clientWidth;
          if(!clientWidth) return;
          if(clientWidth >= 750) {
              docEl.style.fontSize = '100px';
          } else {
              docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
      };
      if(!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
      })(document, window);
  </script>
  <script>
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate',  () =>{
      history.pushState(null, null, document.URL);
    });
    try{
      var h5url = "{{h5url}}"; 
      var nodeData = JSON.parse(decodeURIComponent("{{data}}")) ;
      window.downUrls = JSON.parse(decodeURIComponent("{{downUrls}}")) ;   

      var device = {
                isAndroid: -1 < navigator.userAgent.toLowerCase().indexOf("android"),
                isIos: null != navigator.userAgent.match(/(iPod|iPhone|iPad)/),
                isChrome: /chrom(e|ium)/.test(navigator.userAgent.toLowerCase())
              },
              common = {
                qrcodeUrl: (null != document.referrer) ? document.referrer : location.href,
                code: '',
                width: '359',
                getUrlQuery: function (o) {
                  var n = new RegExp("(^|&)" + o + "=([^&]*)(&|$)", "i"),
                          e = window.location.search.substr(1).match(n);
                  return null != e ? unescape(e[2]) : null
                },
                getParms: function () {
                  // common.code = common.getUrlQuery("code") || "";
                  // common.code = common.code.match(/^[A-Za-z0-9]+/)[0];
                  common.code = '{{vcode}}';
                  common.width = document.body.clientWidth;
                },
                init: function () {
                  common.getParms()
                }
              };
      var objApp = {
        addClipboard: function (o, n) {
          var e = 'pushId@' + common.code + "@" + (common.code || '');
          // var e = $('#codeSign').val() || '';
          bar2.value = e;
          if (window.ClipboardJS){
            var i = new ClipboardJS(o, {
              container: document.getElementById(n)
            });
            i.on("success", function (e) {
              config.successCopyShareCode = true;
              setTimeout(function () {
                // FIXME: 暂时提示IOS
                e.clearSelection();
              }, 100);
            }), i.on("error", function (o) {
              console.log("亲，此浏览器不支持，请手动复制粘贴吧");
            });
          }
          
          
          if (!common.code){
            config.successCopyShareCode = true;
          } 
        }
      }

      function chooseNewUrlObject(urls){
        var url = "";
        var maxtime = "";
        for (let index = 0; index < urls.length; index++) {
          const element = urls[index];
          // 如果没有time_update 就选择第一个
          if(!element.time_update){
            return element
          }
          if(element.time_update > maxtime){
            maxtime = element.time_update
            url = element
          }
        }

        return url;
      }

      var config = {
        downloadUrlAndroid: "",
        downloadUrlIos: "",
        h5: "",
        successCopyShareCode: false,
        successGetDownloadUrl: false,
        init: function () {
          config.downloadUrlAndroid = ''; 
          config.downloadUrlIos = '';
          if (!window.downUrls) {
            window.downUrls = [];
          }
          const downUrls_android = downUrls.filter(n => n.os === '0');
          const downUrls_ios = downUrls.filter(n => n.os === '1'); 
          if(downUrls_ios.length > 0){
            const ios_url = chooseNewUrlObject(downUrls_ios) 
            config.downloadUrlIos = ios_url.update_url;
          }

        
          config.downloadUrlAndroid = (chooseNewUrlObject(downUrls_android)).url
          // 下载
          // 如果是android 或者 是ios并且包含itms-services则下载
          if(device.isAndroid || device.isIos && config.downloadUrlIos.indexOf("itms-services") > -1){
            // downloadFile();
          }else{

          }
          // 获取连接成功
          config.successGetDownloadUrl = true;
        }
      };
      // 获取android 和 ios的下载连接
      config.init();
      // 获取pushId code参数
      common.init();
      //监听点击事件
      // $(".container").click(downloadFile);
      document.querySelector(".container").addEventListener("click",downloadFile);
      document.querySelector(".notify_container.tip_info .btn_close").addEventListener("click",downloadFile);
      function replaceAndroidLink(link){ 
        return link;
      }

      function downloadFile(){
        // 复制pushid
        if ( null != common.code && "12345" != common.code) {
          // 复制bar2控件的内容 当用户点击网页时
          objApp.addClipboard(document.body, "bar2");
        }

        // 判断浏览器是否是微信
        if(isWeChat() ){
          if($("#weixin-tip").length == 0){
            // 跳转引导页
            loadHtml();
          }
          return;
        }
        // 判断是否成功复制到剪贴板以及是否成功获取下载连接
        if (!config.successGetDownloadUrl){
          alert("页面载入中，请等待5秒后再点击下载");
          return;
        }
        var os = device.isIos ? "ios" : "Android";
        var src = config.downloadUrlAndroid;
        // 判断设备
        if (IsPC()){ 
          return;
        }
        if (device.isIos){
          // 如果下载连接为空跳转H5
          if(!config.downloadUrlIos){
            // h5url = "http://app.f6978.cn:88/#/pages/index/index?invitations={code}";
            h5url = h5url.replace("{code}",'pushId@'+common.code+"@"+common.code)
            src =  h5url;
          }else{
            src = config.downloadUrlIos;
            if(-1 == config.downloadUrlIos.indexOf("itms-services")){
              src = config.downloadUrlIos.replace("{code}",'pushId@' + common.code + "@"+common.code)
            }
          }
        }
        // 下载方法二
        var link = document.createElement('a');
        //设置下载的文件名
       
        link.style.display = 'none';
        //设置下载路径
        src = replaceAndroidLink(src);
        link.href = src;
        if(device.isIos){
          link.target = "_top";
        }

        //触发点击
        document.body.appendChild(link);

         // 弹出下载提示
        // downloading_tips.style.display = "flex";
        
        // 10秒钟后提示，刷新页面重新下载
        setTimeout(function(){
          document.querySelector(".downloading_text").innerHTML = "{{renderData.download_tips_settings.download_after_tips}}";

          var hideSecond = nodeData.download_tips_settings.download_after_hide_second;
          if (hideSecond > 0){
            setTimeout(function(){
            downloading_tips.style.display = "none";
            },1000 * hideSecond)
          }
          
        },1000 * 10)
        
        if(device.isIos){
          // window.open(src);
        }else{
          // link.click();
        }
        

        //移除节点
        document.body.removeChild(link);

        saveDownloadInfo(os);
      }

      function saveDownloadInfo(os){
        // 保存下载信息
        let xhr = new XMLHttpRequest();
        xhr.open('GET', "/down/profile?os=" + os, true);
        xhr.send();
      }
      window.addEventListener('load',function(){ 
        setTimeout(function(){
          if (!IsPC()){
            var os = device.isIos ? "ios" : "Android";
            saveDownloadInfo(os);
          }
        },1000)
      })

      function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone",
          "SymbianOS", "Windows Phone",
          "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
          }
        }
        return flag;
      }
    }catch(e){

    }
  </script>
  <script src="https://hian.com.cn/clipboard.min.js"></script>
  <!-- 如果cdn下载失败 则使用本地clipboard -->
  <script>window.ClipboardJS || document.write('<script src="/public/scripts/clipboard.min.js?v=2.0.4" type="text/javascript"><\/script>')</script>
  
  
  <script src="https://hian.com.cn/zepto.min.js" type="text/javascript"></script>
   <script>window.$ || document.write('<script src="/public/scripts/zepto.min.js" type="text/javascript"><\/script>')</script>
 
 

  <script src="https://hian.com.cn/qrcode.min-1.js" type="text/javascript"></script>

  <script>window.QRCode || document.write('<script src="/public/scripts/qrcode.min.js" type="text/javascript"><\/script>')</script>
 

  <script>
    // 懒加载图片
    var viewHeight = document.documentElement.clientHeight;

    function lazyload() {
        var imgs = document.querySelectorAll('img[data-original][lazyload]');
        imgs.forEach(item => {

            if (item.dataset.original == '') {
                return;
            }
            var rect = item.getBoundingClientRect();
            if (rect.bottom >= 0 && rect.top < viewHeight) {
                var img = new Image();
                img.src = item.dataset.original;
                // console.log(img.src)
                img.onload = function() {
                    item.src = img.src;
                }
                item.removeAttribute('data-original');
                item.removeAttribute('lazyload')
            }
        })
    }
    lazyload();
    document.addEventListener('scroll', lazyload)
  </script>
  <script>
    
    var shareBgImg = "";
    try {

      
      $(function(){  
        function setInstallStep(steps){
          let list = "";
          for (const key in steps) {
            if (steps.hasOwnProperty(key)) {
              const element = steps[key];
              let imgs = "";
              for (let index = 0; index < element.length; index++) {
                const img = element[index];
                imgs += `<img loading="lazy" class="img_step" src="${img}" alt="">`
              }
              list += `
              <div class="app_item">
                <span class='phone_mode'>${key}</span>
                <div class="install_step_img">
                <div class="step_title ">
                  <div class="img_close btn_options_item">
                    <span class="bg-install_back"  class="imgStepClose"></span>
                    <span>返回上一页</span>
                  </div>
                  <div class="txt_title btn_options_item">
                    <span class="bg-install_close_black" class="imgStepClose"></span>
                    <span>关闭教程</span>
                  </div>
                  
                </div>
                <div class="imgs_steps">
                  ${imgs}
                </div>
              </div>
              </div>
              `;
            }
          }
          $(".install_app_list").append(list);
          // 隐藏某一个机型的参考图
          $(".install_step_img .img_close").click(function(){
            $(this).parents(".install_step_img").hide();
          })
          // 显示某一个机型的参考图
          $(".install_app_list .phone_mode").click(function(){
            $(this).parents(".app_item").find(".install_step_img").show();
          })
          // 关闭教程
          $(".install_step_img .txt_title").click(function(){
            $(this).parents(".install_step_img").hide();
            $(this).parents(".steps_container").find(".step_close").click();
          })
        }
        function setInstallModel(steps){
          let list = "";
          for (const key in steps) {
            if (steps.hasOwnProperty(key)) {
              const element = steps[key];
              let imgs = "";
              for (let index = 0; index < element.length; index++) {
                const img = element[index];
                imgs += `<img loading="lazy" class="img_step" lazyload="true" data-original="${img}" alt="">`
              }
              list += `
              <div class="app_item" data-key="${key}">
                <span class='phone_mode'>${key}</span>
                <div class="install_step_img">
                <div class="step_title ">
                  <div class="img_close btn_options_item">
                    <span class="bg-install_back"  class="imgStepClose"></span>
                    <span>返回上一页</span>
                  </div>
                  <div class="txt_title btn_options_item">
                    <span class="bg-install_close_black" class="imgStepClose"></span>
                    <span>关闭教程</span>
                  </div>
                  
                </div>
                <div class="imgs_steps">
                  
                </div>
              </div>
              </div>
              `;
            }
          }
         
          $(".install_app_list").append(list);
          // 隐藏某一个机型的参考图
          $(".install_step_img .img_close").click(function(){
            $(this).parents(".install_step_img").hide();
          })
          // 显示某一个机型的参考图
          $(".install_app_list .phone_mode").click(function(){
            if($(this).parents(".app_item").find(".imgs_steps .img_step").length > 0){
              
            }else{
              var name = $(this).parents(".app_item").data("key")
              let imgs = "";
              for (const key in nodeData.installStep) {
                if (key == name) {
                  const element = nodeData.installStep[key];
                  for (let index = 0; index < element.length; index++) {
                    const img = element[index];
                    imgs += `<img loading="lazy" class="img_step" src="${img}" alt="">`
                  }
                }
              }
              $(this).parents(".app_item").find(".imgs_steps").html(imgs);
            }
            
            $(this).parents(".app_item").find(".install_step_img").show();
          })
          // 关闭教程
          $(".install_step_img .txt_title").click(function(){
            $(this).parents(".install_step_img").hide();
            $(this).parents(".steps_container").find(".step_close").click();
          })
        }
        function showNotifyTip(notify){
          if (notify){
            $(".notify_container .tips_msg").text(notify);
            $(".notify_container.tip_info").css("display","flex");
          }
        }
        $(".notify_container.tip_info .btn_close").click(function(){
          $(".notify_container.tip_info").css("display","none");
        })
        
        // 显示安装教程
        $(".foot_panel .btn_install").click(function(){
          // 判断教程在不在，不在就插入
          if ($(".app_item").length == 0){
            setInstallModel(nodeData.installStep)
          }
          // 固定首页
          $(".container").addClass("fullSeceen");
          // 显示教程
          $(".install_container").css("display","block");
          return false;
        })
        // 安装步骤关闭按钮
        $(".step_close").click(function(){
          // 固定首页
          $(".container").removeClass("fullSeceen")

          $(".install_container").css("display","none");
        })

        $(".step_close_two").click(function(){
          $(".step_close").click()
        })

        $(".ios_tip").click(function(){ 
          $(".ios_tip").hide()
        })

        // IOS安装教程
        $(".IOS_box .ios_button").click(function(){
          var value = $(this).data("value")
          if(value == 0){
            // 打开IOS下载页
            $(".IOSfluent").show()
          }else{ 
            // 打开轻量版安装教程
             $(".lightweight").show()
          }
        })

        
        

        // 
        $(".list .tip02").click(function(){
          var value = $(this).data("value") 
          if(value.id == 1){
            //打开落地页设置教程
            $(".IOSfluent").hide()
            $(".downCourse").show()
          }
        })

        $(".tip02close").click(function(){
          $(".IOSfluent").show()
          $(".downCourse").hide()
        })

        // 轻量版安装教程下载按钮
        $(".lightweight .downbutton").click(function(){ 
          let url = $(this).data("value")  
          window.open(url)
        })


        //安卓下载链接地址
        $(".androidClick").click(function(){ 
          let url = window.downUrls.filter(items=>{
            return items.os == 0
          })[0].url
          window.open(url)
        })
 
            var button_html = "";
            var list = window.downUrls.filter(items=>{
              return items.os == 1
            })[0].updateUrls
            var buttonlist = list;
            for (let index = 0; index < buttonlist.length; index++) {
              const element = buttonlist[index];
              button_html += '<div class="button" data-value="'+element+'">' +
                '<div class="icon">'+
                  '<img loading="lazy" lazyload="true" mode="heightFix" class="img" src="/public/images/share/icon_w02.png" /> '+
                '</div>'+
                '<div class="text">备用下载链接'+(index+1)+'</div>'+
              '</div>'
            }
            $(".buttonThreeBox").append(button_html);

        //IOS下载页按钮点击链接
        $(".list .button").click(function(item){
          var value = $(this).data("value")
          let url 

          if(value.id == 0){
            url = "{{TestFlight}}"
            window.open(url)
          }else if(value.id == 1){
            url = window.downUrls.filter(items=>{
              return items.os == 1
            })[0].updateUrl
            
            window.open(url)
          }else {
            url = value
            window.open(url)
          }  
          
          
        })
 
         
        // 复制pushid
        if ( null != common.code && "12345" != common.code &&  5 == common.code.length ) {
          // 复制bar2控件的内容 当用户点击网页时
          objApp.addClipboard(document.body, "bar2");
        }
 

      });
 
      
       

      
    }catch(e){
      console.log(e.message);
    }
  </script>

  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?512dca596c768b52f2e6071236c0756";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>